body {
    background-color: linen;
    text-align: center;
}
.title { 
    text-align: center;
    background-color: crimson;
    color:ivory


}
.header {
    text-align: left;

    }
     
.contact {
    text-align: center;
    padding: 5px;
    border: 3px solid green;

}
p1 {
    font-weight: bolder;
    background-color: crimson;
    color:ivory

}

p {
    display: inline-block;
    text-align: justify;

}