body {
    background-color: linen;
    text-align: center;

}
.container {
    width: 300px;
    border: dashed forestgreen 6px;
  }
  
  .container img {
    max-height: 100%;
    max-width: 100%;
  }
.title { 
    text-align: center;
    background-color: crimson;
    color:ivory


}
.header {
    text-align: left;

    }
     
.contact {
    text-align: center;
    border: 3px solid forestgreen;

}
p1 {
    font-weight: bolder;
    background-color: crimson;
    color:ivory

}

p {
    display: inline-block;
    text-align: center;

}